:root {
    --primary: #638b5d;
    --secondary: #256693;
    --white: #fff;
    --bg-primary: #eff3ee;
    --lightgreen: #bdd85a;
    --deepblue: #0b5583;
    --curiousBlue: #1f80bf;
    --gallery: #f0f0f0;
    --mantis: #80c675;
  }
  
  * {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Atlas Regular', arial, tahoma;
  }
  
  @font-face {
    font-family: 'Atlas Regular';
    src: url('../assets/font/atlas-regular-aaa.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Atlas Medium';
    src: url('../assets/font/atlas-medium-aaa.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Atlas Bold';
    src: url('../assets/font/atlas-bold-aaa.woff2') format('woff2');
  }

  body{
   width: 100%;
   height: 100vh;
   z-index: 0;
   line-height: 1.5;
   font-weight: 400;
   overflow-x: hidden;
  }
  .site-container{
    position: relative;
    display: grid;
    grid-template-columns: 23% 52% 22%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "header header header "
    "sidebarLeft content  sidebarRight"
    "footer footer  footer";
    column-gap: 2%;
    overflow-x: hidden;
  }
  /* Layout setup */
header {
    grid-area: header;
}
.sidebar-left {
    grid-area: sidebarLeft;
}
main {
    grid-area: content;
}
.sidebar-right {
  grid-area: sidebarRight;
}

footer {
    grid-area: footer;
}
/* ======= End of Layout Setup ======== */
h1{
  font-family: 'Atlas Bold';
  font-size: 30px;
  line-height: 79px;
  color: var(--deepblue);
  direction: rtl;
}
h2{
  font-family: 'Atlas Medium';
  font-size: 25px;
  line-height: 26px;
  color: var(--primary);
  direction: rtl;
}
h3{
  font-family: 'Atlas Medium';
  font-size: 18px;
  line-height: 26px;
  color: var(--primary);
  direction: rtl;
  font-weight: 500;
}
.f-18{
  font-size: 18px !important;
  font-family: 'Atlas Regular' !important;
}
.f-23{
  font-size: 23px !important;
  font-family: 'Atlas Medium' !important;
}
h4{
  font-family: 'Atlas Regular';
  font-size: 12px;
  line-height: 26px;
  color: var(--secondary);
  direction: rtl;
}
.f-14{
  font-family: 'Atlas Regular';
  font-size: 14px !important;
  line-height: 26px;
}
p{
  font-family: 'Atlas Regular';
  font-size: 14px;
  line-height: 26px;
  color: var(--secondary);
  direction: rtl;
}
a{
  text-decoration: none;
}
.text-secondary{
  color: var(--secondary);
}
.text-primary{
  color: var(--primary);
}
.text-white{
  color: var(--white);
}
.bg-secondary{
  background-color: var(--secondary) !important;
}
.bg-secondary-light{
  background-color: var(--curiousBlue) !important;
}
.bold-text{
  font-family: 'Atlas Medium';
}
/* Styling Header Section */
header{
  position: fixed;
  width: 100%;
  z-index: 10000;
 }
 header nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     height: 71px;
     background:var(--white);
     box-shadow: 0px 3px 6px #00000029;
     opacity: 1;
 }
.nav .nav-brand{
  display: flex;
  align-items: center;
  justify-content: center;
}
 nav .nav-brand .nav-brand-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 147px;
  height: 43px;
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  border-radius: 21px;
  opacity: 1;
  margin-left: 47px;
 }
 .nav-brand .nav-brand-btn h3{
  font: normal normal normal 20px/12px 'Atlas Regular';
  letter-spacing: 0.26px;
  color: #FFFFFF;
  opacity: 1;
 }
 .nav-brand img{
  width: 27px;
  height: 27px;
  align-self: center;
 }
 .nav-brand .brand-mobile-icon{
  display: none;
 }
 .nav-img span img{
 
  width: 153px;
  height: 46px;
 }
 .mobile-img span img{
  display: none;
 }
 nav .nav-right,.nav-search-section{
   display: flex;
   justify-content: center;
   align-items: center;
   gap:1rem;
 }
 nav .nav-right 
 .nav-search-section 
 .nav-dropdown-content {
  display: flex;
  align-items: center;
 }
 nav .nav-right 
 .nav-search-section 
 .nav-dropdown-content 
 .nav-dropdown {
  display: none;
 }
.nav-search-content .search{
  display: none !important;
  border: none;
  border-bottom: 1px solid var(--secondary);
 }
 .nav-dropdown-content img{
  width: 16px;
  height: 14px;
 }
 .nav-dropdown-content span span{
  font-family: 'Atlas Regular';
  font-weight: 100;
  color: var(--curiousBlue) !important;
 }
 .nav-search-content img{
  width: 20px;
  height: 20px;
 }
 .nav-search-hr{
  width:1px;
  height: 19px;
  background-color: var(--deepblue);
  opacity: 0.2;
 }
  nav .nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    width: 71px;
    height: 71px;
    color: var(--white);
    cursor: pointer;
  }
  .nav-menu img{
    width: 100%;
    height: 100%;
  }
  .nav-menu.active #hamburgerIcon{
    display: block;
  }
  .nav-menu.active #close-tag{
    display: none;
  }
  .nav-menu #close-tag{
   display: block;
  }
  .nav-menu #hamburgerIcon{
    display: none;
   }

  
.sidebar-left{
  position: fixed;
  display: flex;
  gap: 1rem;
  top: 4.5rem;
  left:0;
  width:20%;
  min-width: 23%;
  height:1064px;
}
.sidebar-left .sidebar-left-bg{
  background-image: url('../assets/images/bg2.png');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position:right;
  height:350px;
  width: 85%;
}
.sidebar-left .sidebar-left-icons{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  gap: 4px;
}
.sidebar-left .sidebar-left-icons span img{
  width: 100%;
  height: 100%;
}
 .sidebar-left .sidebar-left-icons span:nth-child(1) img{
  width: 90%;
  height: 90%;
}
/*
.sidebar-left .sidebar-left-icons span:nth-child(3) img{
  width: 50px;
  height: 27px;
} */
/* ===== START MAIN SECTION */
main{
  margin-top: 2rem;
  z-index: 0;
}
.main-container{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.main-sub-section{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--primary);
  padding: 5px 1rem;
  border-radius: 15px;
}
.main-content-header{
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  margin-right: 1rem;
  margin-top: 4rem;
}
.main-content-header .hyper-links{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  flex-direction: row-reverse;
 
}
.main-content-header .hyper-links a{
  font:normal normal normal 14px/26px 'Atlas Regular';
  color: var(--secondary);
  direction: ltr;
}
main .main-first-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 159px;
  padding: 10px 20px;
  background-color: var(--bg-primary);
  border-radius: 10px;
  gap: 1rem;
  z-index: 0;
}
.main-first-card h2{
  font-family: 'Atlas Medium';
  font-size: 20px;
}
.main-first-card h3{
  direction: rtl;
}
.main-first-card .first-card-buttons{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: .8rem;
}
.main-first-card .btn{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  /* width: 120px;
  height: 41px; */
  border-radius: 10px;
  color: var(--primary);
  font: normal normal medium 16px/30px AtlasPro AAA;
  outline: none;
  gap: .3rem;
  border: 1px solid var(--primary);
  background-color: var(--bg-primary);
  color: var(--primary);
  cursor: pointer;
  z-index: 0;
}
.main-first-card .btn:hover{
  border: none;
  background-color: var(--primary);
  color: #FCFCFC;
}
.main-first-card .btn span:nth-child(2){
 background-color: var(--primary);
 width: 1px;
 height: 9px;
 opacity: .3;
}
.main-first-card .btn:hover span:nth-child(2){
  width: .5px;
  height: 9px;
  background-color: var(--white);
  opacity: 0.8;
 }
 .main-first-card .btn.active{
  background: var(--primary);
  color: var(--white) !important;
 }
 .main-sub-heading{
  margin-top: .8rem;
  display: flex;
  align-items: end;
  justify-content: end;
  gap: .5rem;
 
}
.main-sub-heading h3{
  font-family: 'Atlas Medium';
  font-size: 20px;
  margin-bottom: .3rem;
}
.main-sub-heading span img{
  width: 100%;
  height: 100%;
}
.main-sub-accordion{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
 .main-container .accordion-container{
  display: flex;
  flex-direction: column;
  z-index: 0;
 }
  .accordion-btn-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background:var(--gallery);
  padding: 5px 10px;
  border-radius: 15px;
  opacity: 1;
  cursor: pointer;
  z-index: 10;
 }
 .accordion-btn-section.active{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #F8F8F8;
  height: 130px;
  position: relative;
 }
 .accordion-btn-section h4{
  font-family: 'Atlas Regular';
  font-weight: 100;
 }
 .accordion-btn-section.active h4{
  margin-bottom: .5rem;
 }
 .accordion-btn-info,
 .accordion-btn-info-one,
 .accordion-btn-info-left,
 .accordion-btn-info-right,
 .acc-date-info{
  display: flex;
 }
 .accordion-btn-info{
   justify-content: space-between;
 }
 .accordion-btn-section.active  .accordion-btn-info{
  flex-direction: column;
  justify-content: flex-end;
 }
.accordion-btn-section.active .accordion-btn-info{
  margin-top: .1rem;
}
 .accordion-btn-info-one{
  gap:1rem;
  justify-content: end;
 }
 .accordion-btn-info .plusIcon img{
  width: 15px;
  height: 15px;
  margin-left: 1rem;
  cursor: pointer;
 }

 .accordion-btn-info-left,
 .accordion-btn-info-right{
  flex-direction: column;
  position: relative;
 }
 .accordion-btn-info-left h3{
   font-size: 18px;
   font-family: 'Atlas Medium';
   font-weight: 500;
 }
 .last-date{
  position: relative;
 }
 .accordion-btn-info-left::after,.last-date::after{
   content: '';
   width: 1px;
   height: 80%;
   background: var(--deepblue);
   opacity: 0.2;
   right: -.4rem;
   top: .3rem;
   position: absolute;
 }
 .last-date::after{
  height: 50%;
 }
 .accordion-btn-info-right{
  justify-content: center;
  align-items: center;
 }
 .accordion-btn-info-right span img{
  width: 20px;
  height: 20px;
 }
 .acc-date-info{
  direction: rtl;
  gap: 1rem;
  position: relative;
 }
 .acc-date-info p{
  font-size: 14px;
 }
 .acc-date-info p:nth-of-type(even){
  color: var(--primary);
 }
 .accordion-hr{
  width: 1px;
  height: 75%;
  background-color: var(--secondary);
  opacity: 0.3;
  align-self: center;
  margin-right: 1rem;
 }
 .acc-date-info span{
  height: 50%;
  margin-right: 1rem;
 }
 .last-date{
  display: flex;
 }
 /* Accordion Panel Start */
 .accordion-panel{
  width: 100%;
  flex-direction: column;
  gap: .8rem !important;
  background-color: #f8f8f8;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  padding: 0 10px;
  opacity: 1;
 }
 .accordion-panel.active{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
 }
 .panel-header{
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex: 1;
 }
 .panel-header p{
 font-family: 'Atlas Bold';
 }
 .panel-hl{
  width: 100%;
  height: 1px;
  margin: 0 auto;
  background: var(--secondary);
  opacity: .1;
  z-index:1;
 }
 .panel-first-content{
  display: flex;
  gap: 2rem;
 }
 .panel-first-left,.panel-first-right{
  display: flex;
  flex-direction: column;
  flex: 2;
  gap:.8rem;
  z-index:1;
 }
 .panel-first-right{
  flex: 1;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary);
  padding: 0 0.8rem;
  border-radius: 15px;
 }
 .panel-first-right-header{
  display: flex;
  flex-direction: column;
 }
 .panel-first-right h3, .panel-first-right p{
  text-align: center;
 }
 .panel-first-right p{
  width: 90%;
  margin: 0 auto;
 }
.h-1{
  font-family: 'Atlas Bold';
 }
 .panel-list{
  display: flex;
  flex-direction: column;
  gap: .5rem;
 }
 .panel-bullets{
  display: flex;
  align-items: center;
  gap: .5rem;
  direction: rtl;
 }
 .panel-disc{
  width:12px;
  height:12px;
  border: 2px solid var(--secondary);
  border-radius: 50px;
 }
 .panel-btns{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: flex-end;
  align-self: flex-end;
  margin-top: 1rem;
 }
 .panel-btn{
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  align-items: center;
  direction: rtl;
  align-self: flex-end;
  padding: .5px 1rem;
  border: 1px solid var(--secondary);
  border-radius: 15px;
  gap: .3rem;
 }
 .panel-second-content,.panel-third-content,.panel-footer{
  display: flex;
  flex-direction: column;
  gap: .5rem;
 }
 .panel-second-linkedIn{
  display: flex;
  flex-direction: row-reverse;
  direction: rtl;
  justify-content:flex-end;
  align-items: center;
  gap: .5rem;
 }

 .panel-second-btns{
  display: flex;
  flex-direction: row-reverse;
  gap: .5rem;
 }
 .panel-uploadBtn{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 50px;
  background: var(--gallery);
  flex: 2;
  color: var(--secondary);
 }
 .panel-uploadBtn p{
  font-family: 'Atlas Medium';
  font-size: 12px;
  margin-right: .8rem;
 }
 .panel-uploadBtn img{
  width: 25px;
  height: 25px;
 }
 .panel-second-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: var(--secondary);
  flex-direction: row-reverse;
  outline: none !important;
  color: var(--white);
  padding: 0 25px;
  gap: .2rem;
 }
 .panel-second-btn p{
  /* margin-top: .4rem; */
  font-family: 'Atlas Regular';
 }
 .panel-second-btn img{
  width: 15px;
  height: 15px;
 }
 .panel-file-icons{
  display: flex;
  justify-content: end;
  gap: .8rem;
 }
 .panel-file-icons img{
  width: 35px;
  height: 45px;
 }
 .main-circle-section{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
 }
 .circle-card-content{
  width: 100%;
  height: 150px;
  display: flex;
 }

 .circle-header{
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
 }
 .circle-header h3{
  width: 50%;
  text-align: center;
  align-self: flex-start;
  margin-top: -1rem;
 }
 .circle-header span{
  width: 100%;
  height: 10px;
  border: 1px solid transparent;
}
 .circle-header::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 42%;
  height: 350%;
  /* background: red; */
  border: 1px solid transparent;
  border-top-color: var(--primary);
  border-left-color: var(--primary);
  border-top-left-radius: 15px; 
}
.circle-header::after{
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 42%;
  height: 350%;
  /* background: red; */
  border: 1px solid transparent;
  border-top-color: var(--primary);
  border-top-right-radius: 15px;
  border-right-color:var(--primary);
}
.circle-wrapper{
  width: 90%;
  margin: .8rem auto;
  background-image: url('../assets/images/big-snake.svg');
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: cover;
  background-position:center;
  z-index: 0;
  direction: rtl;
} 
.circle-wrapper 
.circle-inner-wrapper{
  width: 90%;
  margin: .8rem auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 5rem;
  /* column-gap: .2rem; */
  margin-top: .8rem;
  margin-bottom: .8rem;
  
}

.circle-wrapper .outer-circle{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 144px;
  height: 144px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  justify-self: start;
  z-index: 10000;
  background: var(--white);
}
.circle-wrapper .outer-circle:nth-last-child(-n+3){
  margin-top: -1.5rem;
}
.circle-wrapper .inner-circle{
  width: 140px;
  height: 140px;
  border: 3px solid var(--primary);
  border-radius: 50%;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  gap: .8rem;
  direction: rtl;
}
.circle-wrapper .inner-circle p{
  text-align: center;
  line-height: normal;
  width: 100%;
  font-size: 14px;
  color: var(--primary);
  direction: ltr;
}
.circle-wrapper .inner-circle .w-80{
  width: 82%;
}
.inner-circle span{
  width:24px;
  height: 24px;
  background: var(--primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-circle span p{
  color: var(--white) !important;
}
.circle-wrapper .outer-circle:nth-child(){

}
.circle-card-left{
  display: flex;
  flex-direction: column;
  justify-content:center;
  /* align-items:center; */
  flex: 4;
  background: var(--primary);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0 2rem;
  
}
.circle-card-left h3{
  font-family: 'Atlas Regular';
  direction: ltr;
  align-self: flex-end;
}
.circle-card-left .btn{
  font-family: 'Atlas Bold';
}
.circle-card-right{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: var(--lightgreen);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.circle-card-right  img{
  width: 35%;
  height: 30%;
}
.circle-card-right.bg-secondary-light img{
  width: 36%;
  height: 45%;
}
.circle-card-bullets{
  display: flex;
  margin-top: .5rem;
  direction: rtl;
  gap: .4rem;
  /* margin-right: 2rem; */
}
.circle-bullet-content span{
  font-family: 'Atlas Regular';
  font-size: 14px;
}
.circle-p{
  direction: ltr;
  align-self: flex-end;
  /* margin-right: 2rem; */
}
.circle-card-left .btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  align-self: flex-end;
  padding: 3px 0;
  border: none;
  outline: none;
  color: var(--primary);
  border-radius: 50px;
  background-color: var(--white);
  margin-top: 1rem;
}
.main-footer{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-footer .circle-card-content{
  height: 92px;
}
.main-footer-header{
  margin-top: 2rem;
}
.main-footer h2,.main-footer h3{
  color: var(--secondary);
  font-size: 18px;
}
.main-footer h3{
  font-family: 'Atlas Regular';
  font-size: 14px;
}
.main-footer  h3:nth-child(1){
  font-family: 'Atlas Medium';
}

.main-footer-contacts{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-footer-contacts::after{
  content: '';
  position: absolute;
  right: 0;
  width: 1px;
  height: 100%;
  background: var(--primary);
}
.main-footer-contacts-info{
  margin-right: .8rem;
}
.main-footer button{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  width: 160px;
  height: 28px;
  border: none;
  outline: none;
  background-color: var(--secondary);
  color: var(--white);
  font: normal normal normal 14px/35px 'Atlas Medium';
  border-radius: 15px;
  padding: 5px 10px;
}

/* ===== START SIDE RIGHT ===== */
.sidebar-right{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}
.sidebar-right .sidebar-right-header{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 4px;
   margin-left: 5.8rem;
   margin-top: 4rem;
}
.sidebar-right .sidebar-right-header h2{
  font-family: 'Atlas Regular';
  color: var(--secondary);
}
.sidebar-right-link-wrapper{
  display:flex;
  flex-direction: column;
  gap: .5rem;
  margin-right: .5rem;
}
.sidebar-right-link-wrapper .sidebar-right-links{
  display:flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}
.sidebar-right-link-wrapper .sidebar-right-links.active{
  background: var(--primary);
  width: 200px;
  height:50px;;
  padding: 15px 5px;
  border-radius: 8px;
  cursor: pointer;
 
}
.sidebar-right-link-wrapper .sidebar-right-links.active a{
  color: var(--white) !important;
  font-size: 22px;
  font-weight: 400;
}
.sidebar-right-link-wrapper .sidebar-right-links a{
  display: inline-block;
  text-decoration: none;
  font: normal normal normal 20px/44px 'Atlas Regular';
  color: var(--primary);
  direction: rtl;
}
.sidebar-right-link-wrapper .sidebar-right-links span{
  display: none;
  font-size: 12px;
  font-weight: 300;
  color: var(--primary);
}
.sidebar-right-link-wrapper .sidebar-right-links:hover a{
  font: normal normal normal 20px/44px 'Atlas Medium';
}
.sidebar-right-link-wrapper .sidebar-right-links:hover span{
  display: inline-block;
}

/* Footer Section */
.footer-container{
  width: 100%;
  height:844px;;
  background-image:url('../assets/images/map.jpeg') ;
  z-index: 0;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
.footer-form-wrapper{
  display: flex;
  justify-content: end; 
  width: 65%;
}
.footer-form{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background: var(--white);
  padding: 1rem 1.5rem;
  margin-top: 5rem;
  border-radius: 15px;
  width: 300px;
  height: 600px;
  align-self: center;
}
.footer-form .form-group{
  display: flex;
  flex-direction: column;
  gap: .2rem;
  direction: rtl;
}
.form-group label{
  font-family: 'Atlas Regular';
  font-size: 14px;
}
.footer-form .form-group input,textarea{
  outline: none;
  border: none;
  background: var(--gallery);
  padding: 15px 1rem;
  width: 100%;
  border-radius: 50px;
}
.form-group textarea{
  height: 150px;
  border-radius: 15px;
}
.footer-form .btn{
  width: 100%;
  padding: 15px 1rem;
  border: none;
  outline: none;
  border-radius: 50px;
  background: var(--secondary);
  color: var(--white);
}
.footer-contact{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  direction: rtl;
  width: 45%;
  gap: 2rem;
}
.footer-contact div{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: .1rem;
  margin-right: 10rem;
}
.footer-cell-num{
  display: flex;
  flex-direction: column;
  gap: .3rem;
}
.footer-cell-num span{
  display: flex;
  align-items: center;
  gap: 1rem;
  direction: ltr;
}
.footer-cell-num span:nth-child(1) img{
  width: 35px;
  height: 35px;
}
.footer-contact h2,.footer-contact h3{
 direction: rtl;
 color: var(--white);
}
.footer-contact h3:nth-child(2){
  font-family: 'Atlas Medium';
  font-weight: 600;
}
.footer-contact h3:nth-child(2),
.footer-contact h3:nth-child(3),
.footer-contact h3:nth-child(4),.spacing-num{
  font-family: 'Atlas Regular';
  font-weight: 100;
  direction: rtl;
}
 .footer-contact .text-green {
  color: var(--primary);
 }
.footer-icons{
  display: flex !important;
  flex-direction: row !important;
  gap: .2rem;
  direction: ltr;
}